/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

html {
background: #222;
z-index: -10;
margin: 0;
padding: 0;
}

/* kleuren */
:root {
	--achtergrondkleur: #222;
	--letterkleur: #fff;
	--letterkleurdonker: #222; 
	--kleurrood: rgb(222, 0, 0);
}

body {
	margin: 0;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: 1fr auto auto 1fr 0.1fr;
	height: 100vh;
	background-color: var(--achtergrondkleur);
	overflow: hidden;
}

#border iframe {
	clip-path: inset(4.8em 0);  
} 

#border {
	grid-column-start: 2;
	grid-row-start: 2; 
}

#closed-captions {
	grid-column-start: 2;
	grid-row-start: 3;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	max-width: 39vw;
	margin-top: -1.5em;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

/* voice robot */
.voice1 {
	font-family: "Brenner Mono";
	font-style: normal;
	font-weight: 500;
	color: var(--letterkleur);
	background-color: rgba(255, 255, 255, 0.093);
	border-radius: 0.5em;
	border-style: solid;
	padding: 0.3em;
	border-color: var(--letterkleur);
	box-shadow: rgba(255, 255, 255, 0.35) 0px 1px 10px;
}
/* voice guy */
.voice2 {
	font-family: "Brenner Sans";
	font-style: normal;
	font-weight: 600;
	color: var(--letterkleur);	
}
/* jelling guy */
.voice3 {
	font-family: "Brenner Sans";
	font-style: italic;
	font-size: normal;
	font-weight: 600;
	color: var(--letterkleur);	
}
/* voice robot calm */
.voice4 {
	font-family: "Brenner Mono";
	font-style: normal;
	font-weight: 500;
	color: var(--letterkleur);
	background-color: rgba(255, 255, 255, 0.093);
	border-radius: 0.5em;
	border-style: solid;
	padding: 0.3em;
	border-color: var(--letterkleur);
	box-shadow: rgba(255, 255, 255, 0.35) 0px 1px 10px;
}
 
/* voice robot end */
.voice5 {
	font-family: "Brenner Mono";
	font-style: normal;
	font-weight: 500;
	color: var(--letterkleurdonker);
	background-color: rgba(153, 151, 151, 0.125);
	border-radius: 0.5em;
	border-style: solid;
	padding: 0.3em;
	border-color: var(--letterkleurdonker);
	box-shadow: rgba(54, 54, 54, 0.35) 0px 1px 10px;
}

/* voice guy end */
.voice6 {
	font-family: "Brenner Sans";
	font-style: normal;
	font-weight: 600;
	color: var(--letterkleurdonker);	
}


/* Man in vliegend voertuig */
.sound0 {
	animation-name: vlieg;
	animation-duration: 4s;	
}

@keyframes vlieg {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(1.5deg);
	}
	50% {
		transform: rotate(-1.5deg);
	}
	75% {
		transform: rotate(1.5deg);
	}
	100% {
		transform: rotate(0);
	}
}

/* Eerste harde alarm*/
.sound1 {
	animation-name: alarm;
	animation-duration: 2s;
}
@keyframes alarm {
	0%, 20%, 30%, 40%, 50% {
		background-color: var(--kleurrood);
	}
	21%, 31%, 41%, 51%, 100% {
		background-color: var(--achtergrondkleur);
	}
}

iframe {
	transition: 1s;
}

.sound1 #border {
	animation-name: wiggle;
	animation-duration: 0.3s;
	animation-iteration-count: 3;
}
@keyframes wiggle {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(-25deg);
	}
	50% {
		transform: rotate(25deg);
	}
	75% {
		transform: rotate(-25deg);
	}
	100% {
		transform: rotate(0);
	}
}


/* Alarm 2 politie geluid */
.sound2 {
	animation: gradient 1.7s linear;
	background: linear-gradient(90deg, rgba(34,34,34,1) 25%, rgb(0, 26, 142) 45%, rgb(142, 0, 0) 55%, rgba(34,34,34,1) 75%);
	animation-fill-mode: forwards;
}

@keyframes gradient {
	0% {
		background-size: 300% 100%;
		background-position: right;
		transform: scale(1);
	}
	25% {
		transform: scale(1.2);	
	}
	50% {
		background-size: 300% 100%;
		background-position: left;
		transform: scale(1);
	}
	100% {
		background: rgba(34,34,34,1);
		transform: scale(1);
	}
}




/* Alarm 'beep' 3x herhaling */
.sound4 #border::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 600px;
	height: calc(400px - 9.6em);
	left: 50%;
	top: 48.7%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	animation-name: beep1;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}
@keyframes beep1 {
	0% {
		box-shadow: 0 0 0 var(--achtergrondkleur); 
	}
	100% {
		box-shadow: 0 0 5em var(--kleurrood);
	}
}

.sound6 #border::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 600px;
	height: calc(400px - 9.6em);
	left: 50%;
	top: 48.7%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	animation-name: beep2;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}
@keyframes beep2 {
	0% {
		box-shadow: 0 0 0 var(--achtergrondkleur); 
	}
	100% {
		box-shadow: 0 0 5em var(--kleurrood);
	}
}

.sound8 #border::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 600px;
	height: calc(400px - 9.6em);
	left: 50%;
	top: 48.7%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	animation-name: beep3;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}
@keyframes beep3 {
	0% {
		box-shadow: 0 0 0 var(--achtergrondkleur); 
	}
	100% {
		box-shadow: 0 0 5em var(--kleurrood);
	}
}

/* Man in kamer */
.sound9 iframe {
	animation-name: shake;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	/* animation-timing-function: ease-in; */
}
@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  /* Beeld stilzetten na gesprek in kamer */
  .sound10 iframe {
	  animation-name: stop;
	  animation-iteration-count: infinite;
  }
  @keyframes stop {
	  0% {
		  transform: translateX(0);
	  }
	  100% {
		  transform: translateX(0);
	  }
  }

  /* Flashback */
  .sound12 #border {
	  animation-name: inzoom;
	  animation-duration: 49s; 
	  animation-fill-mode: forwards;
  }
  @keyframes inzoom {
	  0% {
		transform:scale(1)
	  }
	  100% {
		transform:scale(1.3)
	  }
  }

.sound12 iframe {
	filter: opacity(87%) grayscale(10%);	
}

.sound12 {
	animation-name: wit;
	animation-duration: 0.5s;
}
@keyframes wit {
	0% {
		background: var(--achtergrondkleur);
	}
	100% {
		background: var(--letterkleur);
	}
}